<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:theme="@style/Theme.LocalHtmlLibrary"
        android:label="HTML Library"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false">
        <activity android:name=".WebViewActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SetupActivity" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
